/* Set parameters for whole website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background-color for entire body */
body {
    background-color: #d9dcd6;
}

/* --- Header Styling --- */

/* Style header font, color, background and spacing */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header h1 font-size */
header h1 {
    font-size: 48px;
}

/* Change color of 'seo' in header */
#seo {
    color: #d9dcd6;
}

/* --- See nav-bar.css for Nav Bar Styling --- */

/* ---- End Header Styling ---- */


/* Style Hero Image */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}



/* ---- Start of Main Article Styling ---- */

/* Style the main section of content */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* change all p tag font size to 16px */
p {
    font-size: 16px;
}

/* Set an element to float left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Set an element to float right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Style each section */
main section {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    position: relative;
    -webkit-box-shadow: 5px 3px 14px 4px rgb(160, 160, 160); 
    box-shadow: 5px 3px 14px 4px rgb(160, 160, 160)
}

/* Set height for section images */
main section img {
    max-width: 290px;
}

/* Adjust font and margins for main section h2s */
main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* ---- End of Main Content Styling ---- */





/* ----- Benefits Aside Styling ---*/

/* Style the aside with company benefits */ 
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    -webkit-box-shadow: 5px 3px 14px 4px rgb(160, 160, 160); 
    box-shadow: 5px 3px 14px 4px rgb(160, 160, 160)
}

/* set margin and font color for each section */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Aside h3 margins and text alignment */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Aside image styling */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    transition: 0.25s;
}

/* Add img hover effect */
aside section img:hover {
    max-width: 175px;
    transition: 0.25s;
}
    
/* ---- End of aside styling ---- */
    
    
    /* ---- Footer Styling ---- */
    
    /* Adjust footer spacing, font, and aligment */
    footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }
    
    /* Footer h2 font size */
    footer h2 {
        font-size: 20px;
    }
    
    /* ---- End footer styling ---- */


